@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: Poppins, sans-serif;
  --color-main: #111827;
    --color-description: #585f70;
}